*{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(255, 149, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    background-color: #006E90;
    text-align: center;
}

.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin; 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin; 
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size:8vmin ;
    color:#f9b300 ; 
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ADCAD6;
    color:black;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ADCAD6;
    color:black;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: rgb(255, 149, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}